/* FONTS */
@font-face {
	font-family: 'Conv_Gotham-Light';
	src: url('../fonts/Gotham-Light.eot');
	src: local('☺'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Gotham-Medium';
	src: url('../fonts/Gotham-Medium.eot');
	src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot') format('embedded-opentype'),
         url('../fonts/GothamBook.woff2') format('woff2'),
         url('../fonts/GothamBook.woff') format('woff'),
         url('../fonts/GothamBook.ttf') format('truetype'),
         url('../fonts/GothamBook.svg#GothamBook') format('svg');
}


/*HEADER*/

header {
    padding: 20px 0 10px;
}

header ul li{
	list-style-image: url('../images/check.jpg');
}

.padding0{padding: 0;}

/*MAIN*/
#main{background: url('../images/mainbg.jpg') no-repeat ;  background-size: cover; color: white;}
h1{	font-family: 'Conv_Gotham-Light'; font-size: 42px; }

h2{font-family: 'Conv_Gotham-Medium'; font-size: 30px;}

/*MAIN LEFT*/
form {
    padding: 50px 0;
}

form p{
	font-size: 18px;
	color: #fff;
}

form a{
	color: #fff;
}



.form-group {
    margin-bottom: 25px;
}

.form-group label{
	font-size: 18px;
	padding: 7px 0;
}

.form-group input  {
        padding: 30px 60px;
    border-radius: 50px;
    background-image: url(../images/num1.png);
    background-repeat: no-repeat;
    background-position: 13px center;
}
/*.form-group select{
	background-image: url(../images/num2.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    padding: 0px 60px;
    height: 62px;
    border-radius: 50px;
    -webkit-appearance: none;
}*/
.cat-drop-menu button {
	background-image: url(../images/num2.png) !important;
	background-repeat: no-repeat;
    background-position: 13px center;
    width: 100%;
    text-align: left;
    padding: 20px 20px 20px 60px;
    border-radius: 50px;
}
.cat-drop-menu.open ul {
    width: 100%;
    border-radius: 20px;
    padding: 20px 10px;
}
.btn-white {
    background: #fff;
}
.dropdown.cat-drop-menu button {
    color: #4e555c;
    line-height: 27px;
}
.arrow-down {
    font-size: 27px;
    line-height: 0px;
}
.dropdown-menu>li>a:hover {
    background-color: #bcd3e3;
    font-weight: bold;
}

.btn-law-blue {
    background: #02377b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Conv_Gotham-Medium';
}

.btn-law-blue:hover{
	color: #fff;
}

.checkbox, .radio{
	padding: 10px 0;
}

/*MAIN RIGHT*/

.law{
    text-align: center;
}

.law img{
    margin: 0 auto;
    text-align: center;
    float: none;
}

.law-rat {
    display: inline-block;
    padding-left: 10px;
}

.law-rat i{
	color: #d89108;
}

.name{
	font-size: 13px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: 'Conv_Gotham-Medium';
}

.address{font-size: 11px;font-family: 'Conv_Gotham-Medium'; color: #dadada;}

.review{
	color: #fbd243;
	font-size: 12px;
	font-family: 'GothamBook';
}
.review:hover{
    color: #fff;
    text-decoration: none;
}

.review:after{
	/*content: "";*/
	content: url(../images/book.png);
	height: 20px;
	width: 20px;
	padding-left: 5px;
	position: relative;
    top: 3px;
}

.lawyers {
    margin-bottom: 20px;
    border-bottom: 1px solid;
}


.lawyers:last-child{
	border-bottom: 0px solid;
}
/* num3 modal */
.modal-footer {
    text-align: center;
}

.modal-header {
	padding-top: 40px;
    border-bottom: 0px solid #e5e5e5;

}

.modal-title {
	padding-left: 8px;
    line-height: 32px;
}

.modal-title img {
    padding-right: 10px;
}

.more-cat.modal-body{
	padding: 0 30px;
	max-height: 350px;
}
.more-cat.modal-body{
	overflow-x: hidden;
}
.modal-footer{
	border-top: 0px solid #e5e5e5;
	padding-bottom: 40px;
}
.more-cat.modal-body p {
    color: #1864af;
}
.modal-footer.lawyer {
    text-align: left;
    padding: 15px 20px;
}
.modal-header.lawyer-header {
    padding: 10px 16px;
    /* font-size: 26px !important; */
}
.lawyer-header h4 {
    text-transform: uppercase;
    font-size: 25px;
}
.personal h2 {
    margin-top: 0;
}
.personal {
    border-top: 2px solid #666;
    padding-top: 15px;
}
.read-close{float: right;}
.rates {
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666666;
    padding: 20px 0;
}
.gray-star{
    color: #666666 !important;
}
.fa-star {
    color: #d69024;
}
.user-rate {
    font-size: 20px;
}

.user-rate span {
    padding-right: 10px;
}
/*FOOTER*/
footer {
    padding: 40px 0 50px;
}
.footer-nav ul{
	padding: 0;
	text-align: center;
}

.footer-nav ul li {
    display: inline-block;
    padding: 0 5px;
}
.footer-nav ul li a{
	color: #b2b8bd;
}

.footer-nav ul li:after {
    content: "•";
    padding-left: 15px;
    color: #b2b8bd;
}

.footer-nav ul li:last-child:after {
	content: " ";
	padding-left: 0px;
}
.footer-nav p {
    padding: 20px 0 10px;
    color: #b2b8bd;
}

.fright{float: right;}
.fleft{float: left;}

/*MEDIA*/

@media screen and (max-width: 767px) {
    footer img {
        margin: 0 auto;
    }

    .head-desc{float: none !important;
    text-align: center;
    width: 270px;
    margin: 0 auto;}
}